import 'react-rangeslider/lib/index.css'


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.0em;
  font-family: 'Roboto', sans-serif;
}

.App-intro {
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #D7DD3B !important;
}

.prettify {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 33px;
  color: #D7DD3B;
}

.sliderText {
  font-family: 'Lato', sans-serif;
}

.subText {
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
